Werkzeug
Flask
flask_restful
fastapi
gunicorn
streamlit
matplotlib
tqdm
opencv-python
opencv-contrib-python
cvlib
sklearn
tensorflow==1.14
tensorboard==1.14
tensorflow-estimator==1.14
keras==2.3.1
uvicorn==0.14.0
h5py==2.10.0
python-multipart
